@font-face {
    font-family: gameplay;
    src: url("../fonts/Gameplay.ttf");
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: gameplay;
}

body {
    background-color: cornflowerblue;
}

#screen {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 500px;
    height: 500px;

    background-color: green;
}

#screen > section {
    display: flex;
}

#screen > section > div {
    outline: 1px solid black;
}

div.grass {
    background-color: green;
}

div.snake {
    background-color: brown;
}

div.fruit {
    background-color: red;
}

#menu {

}

#endGame {

}

#timer {
    font-size: 6em;
    color: white;

    animation: .3s;

    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}